/* google font */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

/* sheard style */

.body {
  background-color: rgb(245, 248, 255);
}
.header {
  padding: 0 100px;
  margin-bottom: 150px;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
}

.manu-bar {
  display: flex;
  align-items: center;
  gap: 25px;
}
.manu-bar-ul-li {
  text-decoration: none;
  color: #8987a1;
}
.manu-bar-ul {
  display: flex;
  gap: 15px;
}
/* header-banner */
.header-banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}
.banner-title {
  font-family: Noto Serif;
  font-size: 65px;
  font-weight: 700;
  line-height: 89px;
}
.banner-headding-deatial {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
}
.fresh-flower {
  color: #e95a08;
}
/* main part */
.main {
  padding: 0 100px;
  margin-bottom: 150px;
}
.our-plants-heading {
  text-align: center;
  width: 800px;
  margin-left: 170px;
}
.our-plants-title {
  font-family: Noto Serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 68px;
}
.our {
  color: #e95a08;
}
/* cart */
.our-plants-cart {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-top: 50px;
}
.our-plants-subtitle {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  margin-top: 5px;
}

.cart-deatial {
  text-align: center;
  justify-content: center;
}
.cart-button {
  padding: 10px;
  color: white;
  background-color: #e95a08;
  width: 250px;
  margin-top: 15px;
}

.flower-lover {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin-top: 120px;
}
.flover-img {
  position: relative;
  /* overflow: hidden; */
}
.flower-stor {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.trusted-badge {
  position: absolute;
  margin-left: 350px;
  margin-top: -90px;
  z-index: 2;
}
/* flower-subtitle */
.flower-subtitle {
  color: #00000080;
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
}
/* latest deals */
.latest-deal {
  margin-top: 100px;
}
/* heading */
.latest-deal-heasing {
  text-align: center;
}
.latest-title {
  font-family: Noto Serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
}
.latest {
  color: #e95a08;
}
.latest-subtittle {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
}
/* ladest deals img */
.latest-deal-img {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  margin-top: 70px;
}
.latest-deal-img-part1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
.deal {
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* small and big pic */
.deal .small {
  height: 100%;
  align-items: center;
  justify-content: center;
}
.big {
  /* image 6 */

  width: 753px;
  height: 423.13px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}
.deal .big {
  grid-column: 1;
  grid-row: span 2;
}
/* deal bg */
.deal-1bg {
  background-image: url("../assets/deal-bloom.png");
}
.deal-2 {
  background-image: url("../assets/deal-ana.png");
}
.deal-big-3 {
  background-image: url("../assets/deal-zabo.png");
}
/* deal text style */
.small-title {
  color: rgb(255, 255, 255);
  font-family: Noto Serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 10px;
}
.big-title {
  color: rgb(255, 255, 255);
  font-family: Noto Serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 10px;
}
.small-subtitle {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}
/* join-section */
.join-section {
  background-image: url("../assets/news-letter-bg.png");
  width: 100%;
  height: 533px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 16;
  margin-bottom: 50px;
}
.join-title {
  color: rgb(255, 255, 255);
  font-family: Noto Serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0%;
}
.email {
  border: 1px solid white;
  width: 644px;
  height: 50px;
  background-color: white;
  padding: 5px;
}
.join-button {
  color: white;
  background: rgb(233, 90, 8);
  width: 186px;
  height: 50px;
  margin-left: -5px;
  margin-top: 10px;
}
/* footer */
.footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding: 0 50px;
  gap: 30px;
  line-height: 40px;
}
.icon {
  display: flex;
  gap: 25px;
}
.icon-img {
  width: 30px;
  height: 30px;
}
.footer-colum {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-colum ul {
  text-decoration: none;
  padding: 0;
}
.footer-colum ul li a {
  text-decoration: none;
  font-family: Inter;
  color: #6b7280;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.footer-subtitle {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
@media only screen and (max-width: 576px) {
  .header {
    padding: 10px;
    margin-bottom: 150px;
  }
  .manu-bar-ul {
    display: none;
  }
  .header-banner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .banner-img {
    order: -1;
  }

  /* banner */
  .our-plants-heading {
    margin-left: auto;

    width: 100%;
    margin-top: -100px;
  }
  /* main */
  .our-plants-cart {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 20px;
  }
  .main {
    padding: 10px;

    width: 100%;
  }
  /* flower lover */
  .flower-lover {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 5px;
    padding: 20px;
  }

  .trusted-badge {
    visibility: hidden;
  }
  /* deal */
  .latest-deal-img {
    grid-template-columns: 1fr;
    width: 400px;
    margin-top: 70px;
  }
  .latest-deal-img-part1 {
    grid-template-rows: auto;
  }
  .deal .big {
    grid-row: auto;
  }
  .deal {
    padding: 100px;
    width: 535px;
    background-size: cover;
  }
  .join-section {
    margin-top: 15px;
  }
  .icon {
    flex-direction: row;
  }
  .footer {
    grid-template-columns: 1fr;
    align-items: center;
    align-items: center;
  }
}
